html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
	font-style: normal;
	background-color: #fff;
	font: 14px/25px sans-serif;
	font-family: "Alegreya Sans";
	font-weight: 400;
	color: #626262;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	overflow-x: hidden;
}
body p {
    font-family: "Alegreya Sans";
    line-height: 36px;
    font-weight: 300;
    font-style: normal;
    color: #828282;
    font-size: 20px;
}
p {
    margin: 0 0 20px 0;
 }
h1, h2, h3, h4, h5, h6 {
	color: #171c24;
	font-weight: 300;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight: inherit;
}
h1 {
	font-size: 50px;
	line-height: 1.16;
	margin-bottom: 12px;
	letter-spacing: -1px;
}
h2 {
	font-size: 40px;
	line-height: 1.14;
	margin-bottom: 10px;
}
h3 {
	font-size: 29px;
	line-height: 1.2;
	margin-bottom: 8px;
}
h4 {
	font-size: 23px;
	line-height: 1.2;
	margin-bottom: 10px;
}
h5 {
	font-size: 18px;
	line-height: 1.3;
	margin-bottom: 7px;
}
h6 {
	font-size: 16px;
	line-height: 1.3;
	margin-bottom: 4px;
}
a{
  text-decoration: none;
  color:#fff;
}

img{
	max-width:100%;
}
ul{
	list-style: none;
	margin:0px;
	padding:0px;
}
.header-top{
	background:#FF9999;

}
.hd-content{
	min-height:36px;
	display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    -ms-flex-align: center;
    -webkit-align-items: space-between;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}
.header-top ul li{
	color:#fff;
	display:inline-block;
	margin-right: 15px;
}
.header-top ul.social-icons li{
	margin:0px;
	padding:0 8px;
}
.header-top ul.social-icons li .fa{
    font-size: 16px;
  
}
.sticky .header-bottom {
    position: fixed;
    top: 0;
    width: 100%;
    background: #ffffff;
}
.header-top ul li span{
    font-size: 14px;
    margin-left: 6px;

}
.your-subjct{
    display: block;
}
.sticky + .main-content{
  padding-top: 90px;
}
#goTop{
    display:none;
    width:50px;
    height:50px;
    border-radius: 3px;
    position:fixed;
    bottom:20px;
    right:20px;
    color: #fff;
    font-size: 20px;
    line-height: 50px;
    background: #000;
    text-align: center;
    z-index: 99999;
    box-shadow: 0 5px 23px -3px rgba(0,0,0,0.5);
    opacity: 0.89;
}
#goTop:hover{
   background: #ff9999;
    color: #fff;
}
.header-top ul.social-icons li .fa:hover{
    color: #000;
}
.header-bottom-right .header-button a{
	color: #545454;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #ffffff;
    margin-right: 20px;
    margin-left: 1px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-style: solid;
    border-color: #e6e6e6;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    box-shadow: 0px 3px 16px -8px rgba(0,0,0,0.18);
   	padding: 16px 30px;
    line-height:20px;
}
.header-bottom{
    padding: 20px 0;
    box-shadow: 0 1px 8px rgba(0,0,0,.1);
    z-index: 99999;
}
.header-bottom-left a.logo_image{
    line-height: 0px;
}
.header-bottom-left a{
    display: block;
}

.header-bottom .container-fluid{
	height: 90px;
	min-height:36px;
	display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    -ms-flex-align: center;
    -webkit-align-items: space-between;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}
.header-bottom .container ul.menu li{
	display:inline-block;
}
.header-bottom .container ul.menu li a{
	color: #525252;
	font-size: 15px;
    font-weight: 500;
    padding: 0 18px;
    letter-spacing: 1px;
    font-family: "Alegreya Sans";
    text-transform: uppercase;
}
.header-bottom .container ul.menu li.home a,
.header-bottom .container ul.menu li a:hover{
	color:#ff9999;
}
.header-bottom-center{
	margin-left:auto;
	margin-right:auto;
}
.header-bottom-right{
	display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    -ms-flex-align: center;
    -webkit-align-items: space-between;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}
.header-bottom-right .fa{
	color: #999999;
    font-size: 16px;
}
.header-bottom-right{
	position: relative;
}
.header-bottom-right .header-search .search-form-box{
	position: absolute;
    right: -25px;
    background: #fff;
    display:none;
    border-radius: 0;
    z-index: 999;
    top: 57px;
    width: 320px;
    height: 52px;
    border: 1px solid #e4e4e4;
    box-shadow: 0 3px 14px -6px rgba(0,0,0,0.09);
}
.header-bottom-right .header-search .search-form-box form{
	margin: 0;
    height: 100%;
    position: relative;
    z-index: 99;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    -ms-flex-align: center;
    -webkit-align-items: space-between;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}
.header-bottom-right .header-search .search-form-box input{
	border: 0 none;
    box-shadow: none;
    color: transparent;
    cursor: text;
    font-size: 13px;
    color: #444;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    padding: inherit;
    margin: 0;
    width: 100%;
    height: 100%;
    outline:none;
}
.header-bottom-right .header-search .search-form-box button{
	background:none;
	border:0;
	width:50px;
	height:100%;
}
.search-form-box:before {
    content: '';
    display: block;
    position: absolute;
    right: 24px;
    width: 10px;
    height: 10px;
    background: #e4e4e4;
    border: solid #e4e4e4;
    border-width: 1px 0 0 1px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 9;
    top: -5px;
}
#search-icon-trigger{
	 cursor: pointer
}
.header-bottom-right .header-search .search-form-box.is-open{
	display:block;
}

.home-about .vc_column-inner{
	background:#FB9696;
}
.home-about .vc_column-inner .center{
	color:#fff;
}

.home-about {
	display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    -ms-flex-align: center;
    -webkit-align-items: space-between;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    margin-bottom:175px;
}

.home-about-right,
.home-about-left{
	width:50%;
    z-index: 999;
	float:left;
}
.home-about-left img{
	max-width:100%;
	object-fit: cover;
	height:auto;
	transform: translate3d(0px, -16.8045px, 0px);
}
.home-about-right{
	margin-top: -50px;
    padding-top: 7%;
    border-left: 1px solid  #ff9999;;
}
.home-about-right .wrapper{
	text-align: center;
	padding-top: 28% ;
	padding-right: 5% ;
	padding-bottom: 20%;
	padding-left: 5%;
}
.home-about-right .wrapper h3{
	font-family: "Cormorant Garamond";
	font-weight: 500;
	font-style: normal;
	color: #ffffff;
	padding: 0 0 60px 0;
	margin: 0 0 0 0;
	font-size: 46px;
	text-align: center;
	position: relative;
	line-height: 1.2;
}
.home-about-right .wrapper .center{
	color: rgba(255, 255, 255, 0.97);
}
.home-about-right .wrapper .btn{
	font-size: 14px;
	font-weight: 500;
	padding-top: 18px;
	padding-right: 40px;
	padding-bottom: 18px;
	padding-left: 40px;
	background: #fff;
	color: #000;
	letter-spacing: 2px;
	text-transform: capitalize;
	display:inline-block;
	margin-top:50px;
}
.wn-distance-100{
	height:100px;
}
.vc_column_container{
	width: 8.33333333%;
	height:1px;
	float:left;
}
.home-video-left{
	width: 41.66666667%;
	float:left;
}
.home-video-right{
	width:50%;
	float:left;
}

.home-video{
	display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    -ms-flex-align: center;
    -webkit-align-items: space-between;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    margin-bottom:200px;
}
.home-video .wpb_wrapper{
	    padding-right: 5%;
}
.home-video h3.deep-innertitle{
    color: #000000;
    padding: 0 0 48px 12px;
    margin: 0 0 0 0;
    font-size: 46px;
    font-family: "Cormorant Garamond";
    font-weight: 500;
    font-style: normal;
    text-align: left;
}
.home-our-team .deep-innertitle{
	color: #000000;
    padding: 0 0 60px 0;
    margin: 0 0 0 0;
    font-size: 46px;
    text-align: center;
    font-family: "Cormorant Garamond";
    font-weight: 500;
    font-style: normal;
}

.home-our-team .ourteam-item{
    padding: 0 20px;
    outline:none;
}
/*.home-our-team .column-inner{
    margin-right:-40px;
    padding-left: 8%;
}*/
.home-our-team .ourteam-item .tdetail {
    border: 1px solid #e4e4e4;
    text-align: center;
    margin: 0 auto;
    width: 81%;
    border-top: 0;
    margin-top: -1px;
}
.home-our-team .ourteam-item .tdetail h2 {
    padding: 20px 0 9px;
    margin-bottom: 0;
    letter-spacing: 1px;
    line-height: 28px;
    font-weight: 400;
    font-size: 32px;
    color: #ff9999;
    font-family: "Cormorant Garamond";
    font-weight: 600;
    font-style: normal;
}
.home-our-team .ourteam-item .tdetail h5 {
    text-transform: uppercase;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 14px;
    color: #616161;
    font-family: "Cormorant Garamond";
    font-weight: 500;
    font-style: normal;
}
.home-our-team .slick-arrow{
    display:none!important;
}
.home-our-team .slick-dots li {
    display: inline-block;
    font-size: 0px;
    margin: 0px 6px;
    width: 10px;
    cursor: pointer;
    height: 10px;
}
.home-our-team .slick-dots li.slick-active button {
    background: #ff9999;
}
.home-our-team .slick-dots li button {
    width: 10px;
    height: 10px;
    display: inline-block;
    background: #e4e4e4;
    border-radius: 50%;
    margin: 0 6px;
    transition: all .3s ease;
    font-size:0;
    border: none;
    padding: 0;
    outline: none;
}
.home-our-team .slick-dots{
    margin-top: 60px;
    text-align: center;
}
.footer-bottom{
    background: #ff9999;

}
.footer-bottom .container{
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    -ms-flex-align: center;
     min-height: 116px;
}
.footer-bottom .container .footer-right{
    margin-left: auto;
}
.footer-left span {
    font-family: "Alegreya Sans";
    line-height: 36px;
    font-weight: 300;
    font-style: normal;
    color: #fff;
    font-size: 20px;
}
.footer-right .social-icons li{
    display:inline-block;
    padding: 0 10px;
}
.footer-right .social-icons li .fa{
    font-size: 28px;
}
.home-our-team .shape-coutn-1 {
    background: #0a0a0a;
    width: 96px;
    height: 1px;
    bottom: 38px;
    left: calc(50% - 48px);
}

.home-our-team .deep-title {
    display: block;
    position: relative;
    margin-bottom: 125px;
}
.deep-title-shape {
    position: absolute;
}
.home-our-team .shape-coutn-0 {
    background: rgba(255,153,153,0.18);
    width: 66px;
    height: 66px;
    bottom: 20px;
    left: calc(50% - 33px);
}
.home-video-left .deep-title{
    display: inline-block;
    position: relative;
    margin-bottom: 0;
}
.home-video-left .shape-coutn-1{
    left:46px;
    bottom: 26px;
}
.home-video-left .shape-coutn-0{
    left:0px;
    bottom: 10px;
}
.home-about-right .deep-title-shape.shape-coutn-0 {
    background: rgba(255,255,255,0.18);
    width: 66px;
    height: 66px;
    bottom: 20px;
    left: calc(50% - 33px);
}
.home-about-right .deep-title{
    display: inline-block;
    position: relative;
    margin-bottom: 30px;
}
.home-about-right  .shape-coutn-1 {
   background: #ffffff;
    width: 96px;
    height: 1px;
    bottom: 38px;
    left: calc(50% - 48px);
}
.home-contact .contact-form input{
    padding: 10px 0 15px;
    border: 0;
    border-bottom: 1px solid #e3e3e3;
    box-shadow: none;
    background: none;
    font-size: 13px;
    outline:none;
    font-weight: 300;
    color: #888;
    min-width: 60px;
    max-width: 100%;
    display: block;
}
.home-contact{
    margin-top:200px;
}
.home-contact .contact-form .wn-cnform{
    position: relative;
}
.discover-contact-form > div{
    margin-top: 25px;
}
.home-contact .contact-form textarea,
.home-contact .contact-form input,
.home-contact .contact-form textarea::placeholder,
.home-contact .contact-form input::placeholder{
    color: #8c8c8c;
    font-size: 19px;
    font-weight: 300;
    margin-top: 20px;
    display: block;
    font-family: "Alegreya Sans";
}
.wn-footer{
    margin-top:150px;
}
.home-contact .contact-form textarea{
    padding: 10px 0 15px;
    outline: none;
    color: #888;
    border: 0;
    border-bottom: 1px solid #e3e3e3;
    box-shadow: none;
    background: none;
    width: 100%;
    height: 90px;
}
.home-contact .contact-form{
    width: 33.333333%;
    float: left;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right:15px ;
}
.home-contact .google-map{
    width: 66.666666%;
    float: left;
    padding-left: 15px;
}
.slideshow-wrap .slick-slider .slick-arrow,
.subscribe-box-input,
.home-contact .google-map .wrapper,
.home-contact .container{
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
}
.home-contact .container .w-map-text{
    width:207px;
    float: left;
    padding-left: 35px;
    padding-right: 15px;
    min-height: 1px;
    background: #FF9999;
    min-height: 730px;
}
.w-map{
    width: calc(100% - 207px);
    float: left;
}
.home-contact .w-map-text .title-style{
    color: #ffffff;
    font-family: "Cormorant Garamond";
    font-weight: 500;
    font-style: normal;
    font-size: 17px;
    line-height: 27px;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 10px;
}
.home-contact .w-map-text .title-style .fa{
    margin-right: 10px;
    font-size: 20px;
}
.home-contact .w-map-text .content-style{
    color: #ffffff;
    font-size: 17px;
    text-align: left;
    margin-top: 3px;
    line-height: 1.54;
    padding-bottom: 10px;
}
.footer-top .deep-innertitle,
.home-contact .contact-form .deep-innertitle{
    font-family: "Cormorant Garamond";
    font-weight: 500;
    font-style: normal;
    color: #000000;
    padding: 0 0 48px 12px;
    margin: 0 0 0 0;
    font-size: 46px;
    text-align: left;
}
.footer-top .deep-title,
.home-contact .contact-form .deep-title{
    display: inline-block;
    position: relative;
}
.footer-top .shape-coutn-0, 
.home-contact .contact-form  .shape-coutn-0 {
    background: rgba(255,153,153,0.18);
    width: 66px;
    height: 66px;
    position: absolute;
    bottom: 10px;
    left: 0px;
}
.footer-top .shape-coutn-1,
.home-contact .contact-form .shape-coutn-1 {
    background: #0a0a0a;
    width: 96px;
    height: 1px;
    bottom: 26px;
    left: 46px;
    position: absolute;
}
.home-contact .contact-form .wn-cnform button{
    border: 0;
    padding: 23px 42px 23px;
    letter-spacing: 2px;
    font-size: 16px;
    background: #FF9999;
    color:#ffffff;
    outline: none;
     text-transform: uppercase;
     margin-top:50px;
     cursor: pointer
}
.home-contact .contact-form .wn-cnform button:hover{
    background: #000;
}
/*.footer-top .container .row{
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
}*/
.footer-top .custom-menu ul li a{
    font-size: 17px;
    color: #828282;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 38px;
    letter-spacing: 1px;
}
.footer-top .custom-menu ul li a:hover{
    color: #ff9999;
}
.footer-top .custom-menu ul li a .fa{
    margin-right: 5px;
}
.footer-top small{
    font-size: 88%;
    color: #969a9e;
}
.footer-top .title-style{
    color: #3a3a3a;
    font-size: 17px;
    line-height: 27px;
    font-weight: 500;
    letter-spacing: 0;
    text-align: left;
    font-family: "Cormorant Garamond";
    font-style: normal;
}
.footer-top .title-style .fa{
    color: #ff9999;
    display: inline;
    font-size: 18px;
    margin-right: 10px;
    margin-top: 3px;
}
.footer-top .content-style{
    font-size: 17px;
}
.footer-top .subscribe-box-input {
    border-radius: 2px;
    border-color: #e5e5e5;
    padding: 5px 30px;
    color: #333;
    box-shadow: 0 2px 20px -5px rgba(0,0,0,.1);
    margin: 0;
    min-width: 60px;
    max-width: 100%;
    min-height: 36px;
    margin-bottom: 20px;
    outline: none;
    border: 1px solid #e1e1e1;
    position: relative;
}
.footer-top .subscribe-box-email{
    border: 0;
    outline: none;
}
.wn-distance-40{
    height: 40px;
}
.footer-top{
    margin-bottom:80px;
}
.footer-top .subscribe-box-submit{
    border:0;
    border: 1px solid transparent;
    background: none;
    border-radius: 2px;
    color: #ff9999;
    display: inline-block;
    font-family: inherit;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 1.5;
    text-transform: capitalize;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    padding: 18px 8px;
}
.footer-top .subscribe-box-submit:hover{
        border: 1px solid #333;
}
.footer-top {
    border-top: 1px solid #eaeaea;
    padding-top: 130px;
}
.slideshow-wrap .slick-slide{
    outline: none;
}
.slideshow-wrap .slick-slider .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 50;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    outline: none;
    width: 60px;
    height: 60px;
    background: rgba(255, 153, 153, 0.6);
    font-size: 30px;
    color:#fff;
    cursor: pointer;
}
.slideshow-wrap .slick-prev {
    left: 2%;
}
.slideshow-wrap .slick-next {
    right: 2%;
}
.slideshow-wrap .slick-slider .slick-arrow:hover{
background: #FF9999;
}
.slideshow-wrap .slider-content {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: auto;
    margin: auto;
    text-align: left;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    max-width: 60%;
    padding: 10px;
}
.menu-mobile{
    display: none;
}
.slideshow-wrap .slider-content h2{
    font-size: 50px;
    line-height: 50px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    letter-spacing: 0px;
    font-family: "Cormorant Garamond"; 
}
.slideshow-wrap .slider-content p{
    color: #ff9999;
    font-size: 30px;
    letter-spacing: 0px;
    font-family:"Cormorant Garamond";
}
.slideshow-wrap .slider-content .header-buttons{
    margin-top:70px;
}
.slideshow-wrap .slider-content .header-buttons a{
    border: 0;
    padding: 12px 30px;
    letter-spacing: 2px;
    font-size: 16px;
    background: #FF9999;
    color: #ffffff;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
}
.hd-content-right .social-icons{
    margin: 0 -8px;
}
.slideshow-wrap .slider-content .header-buttons a:hover{
    background: #000;
}
 
@media (max-width: 991px) and (min-width: 768px) {
    .footer-top .row>  div.col-sm-3{
        display: inline-block;
        float: none;
        vertical-align: top;
        letter-spacing: normal;
        width: 50%;
    }
    .footer-top .row {
        letter-spacing: -0.31em;
    }
}
@media (max-width: 991px) {
    .vc_column_container {
       display: none;
    }

    .home-about{
        display: block;
    }
    .home-video{
        display: block;
        padding: 0 15px;
    }
    .home-video-right{
        margin: 40px 0 60px;
    }
    .home-about-right, .home-about-left,
    .home-video-right,
    .home-video-left{
        width: 100%;
    }
    .header-bottom-right{
     display: none;   
    }
    .menu-mobile{
        display: block;
        width: 60px;
        text-align: right;
        height: 100%;
        line-height: 59px;
        margin-left: auto;
        font-size: 20px;
    }
    .header-bottom{
        position: relative;
    }
    .header-bottom .header-bottom-center{
       position: absolute;
        top: 90px;
        width: 100%;
        background: #fff;
        z-index: 9999;
        left: 0px;
        display: none;
    }
    .header-bottom .header-bottom-center.is-open{
        display: block;
    }
    .header-bottom .container ul.menu li{
        display: block;
        border-top: 1px solid #ebeef6;
    }
    .header-bottom .container ul.menu li a {
        height: auto;
        line-height: 20px;
        min-height: auto;
        padding: 12px;
        display: block;
    }
}
@media (max-width: 767px) {
    .home-contact .contact-form{
        width: 100%;
    }
    .home-contact .container{
        display: block;
    }
    .home-contact .google-map{
        width: 100%;
        padding: 0px;
        margin-top: 30px;
    }
    .slideshow-wrap .slider-content h2{
        font-size: 30px;
        line-height: 30px;
    }
    .slideshow-wrap .slider-content p{
        font-size: 20px;
        line-height: 20px;
    }
    .slideshow-wrap .slider-content .header-buttons{
        margin-top: 20px;
    }
    .hd-content-left ul li{
        display: none;
    }
    .hd-content-left ul li.phone{
        display: block;
    }
}